<div fxLayout.lg="row" class="divMargin">
    <div fxFlex.lg="20">
    </div>
    <div fxFlex.lg="80" fxLayout.lg="column" fxLayoutGap.lg="20">
        <div fxFlex fxLayoutAlign.lg="center">
            <h1>Informe</h1>
        </div>
        <div fxFlex fxLayoutAlign.lg="center" fxLayout="row">
            <mat-form-field appearance="fill" fxFlex.lg="30">
                <mat-label>Nombre del informe : </mat-label>
                <input matInput type="text">
            </mat-form-field>
        </div>
        <div fxFlex fxLayoutAlign.lg="center">
            <button mat-raised-button color="primary">
                <mat-icon>assignment</mat-icon>
                Generar Informe
            </button>
        </div>
    </div>
    <div fxFlex.lg="20">
    </div>
</div>