<div class="footer container">
    <div fxLayout="row" fxLayoutGap="50px">
        <mat-toolbar>
            <div fxFlex fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between stretch">
                <div fxFlex="20%">
                </div>
                <div fxFlex style="text-align: center;">
                    <h3>Parking</h3>
                    <p>@Copyraight, Derechos reservados</p>
                </div>
                <div fxFlex style="text-align: center;">
                    <p>Servicio de parqueadero</p>  
                </div>
                <div fxFlex="20%">
                </div>
            </div>
            <div fxFlex fxLayout="row">
                <div fxFlex="20%">
                </div>
                <div fxFlex style="text-align: center;">
                    <mat-icon fontIcon="local_parking"></mat-icon>
                    <br>
                    <b>Abierto de L-V 5am - 10pm</b>
                </div>
                <div fxFlex="20%">
                </div>
            </div>
        </mat-toolbar>
    </div>
</div>